.App {
    background-color: #f1f1f1;
    box-sizing: border-box;
}

.parentComment {
    margin-bottom: 10px;
    margin-bottom: 10px;
    padding: 4px 0px 0px 0px;
}

.parentComment div {
    padding-bottom: 6px;
}

.childComment {
    margin-left: 10px;
    padding: 4px 0px 0px 4px;
    border-left: 2px solid rgb(209, 209, 209);
}

.childComment div {
    padding: 4px 0px 6px 4px;
}
